@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	width:960px;
	margin: 0 auto;
	max-width: 1025px;
	line-height: 1;
	font-family: "Calibri Regular", "Calibri Bold", "Binary ITC", "sans-serif";
	background-image:url("../img/brickwallbackground.webp"); 
	}

ol, ul, li {
	list-style: none;
}

li{
	float:right;
	font-weight:300;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
	color:rgba(255,255,255,1.00);
	width:960px;
	float:right;
	background-image:url("../img/menuimage.jpg");
	background-repeat:no-repeat;
	clear:both;
}

.topnav a{
	float:right;
	padding-top:80px;
	font-size:23px;
}

.topnav a:hover {
	text-shadow:0 0 15px #ff0000;
}

nav li{
	margin-right:50px;
	padding-left:10px;
}

#hero-head{
	margin-left:100px;
	font-family: "Binary ITC";
	font-weight: 200;
	line-height:47px;
	color:#ff0000;
}

#hero-head h1 {
	margin-left:115px;
	margin-top:40px;
	font-size:60px;
	text-shadow:0 0 15px #ff0000;
	transition: 1.5s;
}

#hero-head h2 {
	margin-left:86px;
	margin-top:0px;
	font-size:60px;
	font-family:"Calibri Regular";
	color:#FFFFFF;
	text-shadow:0 0 15px white;
	transition:1.5s;
}

#hero-head h3 {
	margin-left:86px;
	font-size:36px;
	text-shadow:0 0 15px #ff0000;
	transition: 1.5s;
}

footer{
	clear:both;
}

#logo{
	margin-top:-200px;
	margin-left:-25px;
	cursor:pointer;
}

#headertype {
	font-family:"Binary ITC",sans-serif;
	width:400px;
	float:right;
	padding-right:20px;
	text-shadow: 2px 2px 5px black;
}

#headertype h1 {
	font-size:40px;
}

.redtype h2 {
	float:right;
	color:#ff0000;
	
}

#headertype h3 {
	font-size:20px;
	float:right;
	margin-top:100px;
	margin-right:15px;
}

div.container {
	text-align:center;
	margin-top:-80px;
}

.button1 {
	border: 3px solid #fffc00;
	background:none;
	padding:10px 40px;
	margin-right:250px;
	font-size:20px;
	color:#fffc00;
	font-family:"Binary ITC";
	cursor:pointer;
	transition:1.5s;
}

.button2 {
	border: 3px solid #fffc00;
	background:none;
	padding:10px 10px;
	font-size:20px;
	color:#fffc00;
	font-family:"Binary ITC";
	cursor:pointer;
	transition:1.5s;
}


.button1:hover {
	transform:scale(1.1);
	box-shadow:0 0 15px #fffc00;
	text-shadow:0 0 15px #fffc00;
	transition:0.8s ease-in-out;
}

.button2:hover {
	transform:scale(1.1);
	box-shadow:0 0 15px #fffc00;
	text-shadow:0 0 15px #fffc00;
	transition:0.8s ease-in-out;
}

article{
	clear:both;
	padding-left:10px;
	padding-right:10px;
	width:940px;
	float:right;
}

.menuitems li {
	width:283px;
	margin-top:10px;
	float:left;
}

.foodphoto {
	float:left;
	margin-right:40px;
	margin-top:30px;
	box-shadow: 0px 3px 8px 3px grey;
}

.cost {
	font-weight:bold;
	font-size:15px;
	color:#ff0000;
}

#toppings p {
	paddin-top:20px;
	margin-top:15px;
	line-height:25px;
	font-size:22px;
}

article h3 {
	font-family: 'Calibri Regular',sans-serif;
	font-weight: 400;
	font-size:23px;
	margin-top:12px;
}

article li {
	font-size:14px;
	float:left;
}

#burgers {
	clear:both;
	width:948px;
	padding-top:50px;
	float:left; 
	font-weight:bold;
}

#menu {
	font-size:40px;
	color:#ff0000;
}

h2 {
	font-size:35px;
	color:#ff0000;
	font-weight:bold;
	margin-top:30px;
}

#hotdogs {
	clear:both;
	width:948px;
	padding-top:30px;
	float:left; 
	font-weight:bold;
}

#sandwiches {
	clear:both;
	width:948px;
	padding-top:30px;
	float:left; 
}

h4 {
	font-family:"Calibri Bold",sans-serif;
	color:#ff0000;
	margin-top:80px;
	font-weight:600;
	padding-bottom:5px;
}

p {
	font-family:"Calibri Regular",sans-serif;
	font-weight:600;
}

#fries {
	clear:both;
	width:948px;
	padding-top:30px;
	float:left;
}

#toppings {
	clear:both;
	width:948px;
	padding-top:30px;
	float:left; 
}

footer {
	clear:both;
	float:left;
	background-color:black;
	width:960px;
	margin-top:120px;
	padding-top:20px;
}


#topleft {
	font-family:'Calibri Regular';
	width:400px;
	color:white;
	padding-left:20px;
	font-size:14px;
	float:left; 
	line-height:10px;
	margin-left:20px;
}

#topleft h1{
	font-family:'Calibri Regular';
	color:white;
	font-size:14px;
	float:left;
	font-weight: normal;
	margin-left:80px;
	margin-top:-8.5px;
}

#topleft h2{
	font-family:'Calibri Regular';
	color:white;
	font-size:14px;
	float:left;
	font-weight:normal;
	margin-left:1px;
	padding-bottom:10px;
}

.copyright {
	font-family:'Calibri Regular';
    color:darkgrey;
	font-size:12px;
	line-height:12px;
	float:left;
	font-weight: normal;
	margin-top:10px;
	padding-bottom:10px;
}

#footerright {
	width:500px;
	color:rgba(255,255,255,1.00);
	text-align:right;
	float:right;
	padding-right:20px;
	font-size:14px;
}
footer a:link {
	color:white; 
	background-color:transparent; 
	text-decoration:none
}
footer a:visited {
	color:white;
}
footer a:hover {
	color:#FF0000; 
	background-color:transparent; 
	text-decoration:none;
	text-shadow:0 0 15px #ff0000;
	transition: 0.8s;
}

.media {
	position:absolute;
	color:white;
	margin-left:400px;
	font-size:30px;
	letter-spacing:5px;
}


.topnav a:link {
	color:white; 
	background-color:transparent; 
	text-decoration:none
}
.topnav a:visited {
	color:white
}
.topnav a:hover {color:#ff0000; 
	border-bottom: 3px solid red; 
	background-color:transparent; 
	text-decoration:none; 
	transition: 0.8s;
}
.topnav a.active {
	color:#ff0000; 
	border-bottom: 3px solid red; 
	text-shadow:0 0 15px #ff0000;
}